@import "../../vars.css";

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--color-bg2);
    padding: 15px 20px 15px 20px;
    border-radius: 40px;
}

.title {
    font-size: 25px;
    margin-bottom: 8px;
    color: var(--color-text);
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; 
}

.img-box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* background-color: var(--color-primary);
    box-sizing: border-box;
    border-radius: 20px; */
}

.img-box img {
    max-width: 90%;
    max-height: 90%;
}

.subtitle {
    color: var(--color-text);
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
