@import "./vars.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  background-color: var(--color-bg);
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  padding: 40px; 
}

html {
  scroll-behavior: smooth;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
