@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    /*colors*/
    --color-text: #fff;
    --color-primary: #a4dd42; /*Big buttons color*/
    --color-secondary: green; /* surrounds the imgs */
    --color-bg: #6E6E6E; /*Main Background*/
    --color-bg2: #383838; /*Secondary Background*/
  
    /*Fonts*/
    --font:"Montserrat";
    --font2:"Poppins";

    /*box shadow*/
    --box1: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }